<a href="https://colab.research.google.com/github/yashrajmodani/Data-Analaysis/blob/main/Assignment8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#1. Write a Pandas program to create
#a) Datetime object for Jan 15 2012.
date = pd.to_datetime("2012-01-15")
print("Datetime object for Jan 15 2012 :",date)

#b) Specific date and time of 9:20 pm.
date = pd.to_datetime("19:20:00")
print("Specific date and time of 9:20 pm :",date)

#c) Local date and time.
date = pd.to_datetime("now")
print("Local date and time : ",date)

#d) A date without time.
date = pd.to_datetime("2012-01-15").date()
print("A date without time : ",date)

#e) Current date.
date = pd.to_datetime("now").date()
print("Current date : ",date)

#f) Time from a datetime.
date = pd.to_datetime("2012-12-25 09:10:00").time()
print("Time from a datetime : ",date)

#g) Current local time.
date = pd.to_datetime("now").time()
print("Current local time : ",date)

Datetime object for Jan 15 2012 : 2012-01-15 00:00:00
Specific date and time of 9:20 pm : 2024-10-21 19:20:00
Local date and time :  2024-10-21 09:46:48.510481
A date without time :  2012-01-15
Current date :  2024-10-21
Time from a datetime :  09:10:00
Current local time :  09:46:48.517650

In [ ]:
#Q2. Write a Pandas program to create
# a) a specific date using timestamp.
date = pd.Timestamp("2012-01-15")
print("Specific date using timestamp : ",date)

#b) date and time using timestamp.
date = pd.Timestamp("2012-01-15 09:10:00")
print("Specific date and time using timestamp : ",date)

#c) a time adds in the current local date using timestamp.
date = pd.Timestamp("13:45")
print("Time adds in the current local date using timestamp : ",date)

#d) current date and time using timestamp.
date = pd.Timestamp("now")
print("Current date and time using timestamp : ",date)

Specific date using timestamp :  2012-01-15 00:00:00
Specific date and time using timestamp :  2012-01-15 09:10:00
Time adds in the current local date using timestamp :  2024-10-21 13:45:00
Current date and time using timestamp :  2024-10-21 09:49:37.717636

In [ ]:
#3. Write a Pandas program to create a date from a given year, month, day and
# another date from a given string formats.
date_from_components = pd.Timestamp(year=2012, month=1, day=15)
date_from_string = pd.to_datetime("2012-01-15")
print("Date from components:", date_from_components)
print("Date from string:", date_from_string)

Date from components: 2012-01-15 00:00:00
Date from string: 2012-01-15 00:00:00

In [ ]:
# 4. Write a Pandas program to print the day after and before a specified date. Also
# print the days between two given dates.

current_date = pd.Timestamp.today()
print("Current date:", current_date)
yesterday_date = current_date - pd.Timedelta(days=1)
print("Yesterday's date:", yesterday_date)
tomorrow_date = current_date + pd.Timedelta(days=1)
print("Tomorrow's date:", tomorrow_date)
days_between = (current_date - yesterday_date).days
print("Days between current date and yesterday's date:", days_between)

Current date: 2024-10-21 11:46:56.181530
Yesterday's date: 2024-10-20 11:46:56.181530
Tomorrow's date: 2024-10-22 11:46:56.181530
Days between current date and yesterday's date: 1

In [ ]:
# 5. Write a Pandas program to create a time-series with two index labels and
# random values. Also print the type of the index.

date_range = pd.date_range(start='2024-01-01', periods=2, freq='D')

random_values = np.random.rand(2)

time_series = pd.Series(random_values, index=date_range)

print("Time-Series:")
print(time_series)

index_type = type(time_series.index)
print("Type of the index:", index_type)

Time-Series:
2024-01-01    0.028793
2024-01-02    0.242030
Freq: D, dtype: float64
Type of the index: <class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [ ]:
# 6. Write a Pandas program to create a time-series from a given list of dates as strings.
dates = ['2023-10-26', '2023-10-27', '2023-10-28', '2023-10-29', '2023-10-30']
time_series = pd.to_datetime(dates)
print("Time-series from a list of dates as strings:")
print(time_series)

Time-series from a list of dates as strings:
DatetimeIndex(['2023-10-26', '2023-10-27', '2023-10-28', '2023-10-29',
               '2023-10-30'],
              dtype='datetime64[ns]', freq=None)

In [ ]:
# 7. Write a Pandas program to create a time series object that has time indexed data. Also select the dates of same year and select the dates between certain dates.
dates = pd.date_range('2023-10-26', periods=10, freq='D')
time_series = pd.Series(np.random.randn(10), index=dates)
print("Time series object with time indexed data:")
print(time_series)
same_year_dates = time_series['2023']
print("Dates of the same year (2023):")
print(same_year_dates)
dates_between = time_series['2023-10-27':'2023-10-29']
print("Dates between 2023-10-27 and 2023-10-29:")
print(dates_between)

Time series object with time indexed data:
2023-10-26    1.662070
2023-10-27    0.243721
2023-10-28   -0.706732
2023-10-29    1.610561
2023-10-30   -0.829405
2023-10-31   -0.252246
2023-11-01    0.739153
2023-11-02   -1.663183
2023-11-03    0.347285
2023-11-04    0.475615
Freq: D, dtype: float64
Dates of the same year (2023):
2023-10-26    1.662070
2023-10-27    0.243721
2023-10-28   -0.706732
2023-10-29    1.610561
2023-10-30   -0.829405
2023-10-31   -0.252246
2023-11-01    0.739153
2023-11-02   -1.663183
2023-11-03    0.347285
2023-11-04    0.475615
Freq: D, dtype: float64
Dates between 2023-10-27 and 2023-10-29:
2023-10-27    0.243721
2023-10-28   -0.706732
2023-10-29    1.610561
Freq: D, dtype: float64

In [ ]:
# 8. Write a Pandas program to create a date range using a startpoint date and a number of periods.
start_date = '2023-10-26'
periods = 5
date_range = pd.date_range(start=start_date, periods=periods)
print("Date range using a startpoint date and a number of periods:")
print(date_range)

Date range using a startpoint date and a number of periods:
DatetimeIndex(['2023-10-26', '2023-10-27', '2023-10-28', '2023-10-29',
               '2023-10-30'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
# 9. Write a Pandas program to create a whole month of dates in daily frequencies. Also find the maximum, minimum timestamp and indexs.
dates = pd.date_range(start='2023-10-01', end='2023-10-31', freq='D')
print("Whole month of dates in daily frequencies:")
print(dates)

max_timestamp = np.max(dates)
min_timestamp = np.min(dates)
max_index = np.argmax(dates)
min_index = np.argmin(dates)
print("Maximum timestamp:", max_timestamp)
print("Minimum timestamp:", min_timestamp)
print("Maximum index:", max_index)
print("Minimum index:", min_index)

Whole month of dates in daily frequencies:
DatetimeIndex(['2023-10-01', '2023-10-02', '2023-10-03', '2023-10-04',
               '2023-10-05', '2023-10-06', '2023-10-07', '2023-10-08',
               '2023-10-09', '2023-10-10', '2023-10-11', '2023-10-12',
               '2023-10-13', '2023-10-14', '2023-10-15', '2023-10-16',
               '2023-10-17', '2023-10-18', '2023-10-19', '2023-10-20',
               '2023-10-21', '2023-10-22', '2023-10-23', '2023-10-24',
               '2023-10-25', '2023-10-26', '2023-10-27', '2023-10-28',
               '2023-10-29', '2023-10-30', '2023-10-31'],
              dtype='datetime64[ns]', freq='D')
Maximum timestamp: 2023-10-31 00:00:00
Minimum timestamp: 2023-10-01 00:00:00
Maximum index: 30
Minimum index: 0

In [ ]:
# 10. Write a Pandas program to create a time series using three months frequency.
dates = pd.date_range(start='2023-01-01', periods=12, freq='3M')
time_series = pd.Series(np.random.randn(12), index=dates)
print("Time series using three months frequency:")
print(time_series)

Time series using three months frequency:
2023-01-31   -0.276074
2023-04-30    1.724733
2023-07-31   -0.437827
2023-10-31    0.305720
2024-01-31    0.147127
2024-04-30    1.792264
2024-07-31   -0.555230
2024-10-31   -1.174361
2025-01-31   -0.256621
2025-04-30    0.950694
2025-07-31    0.702342
2025-10-31   -0.268071
Freq: 3ME, dtype: float64

<ipython-input-22-c0dea88358f1>:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(start='2023-01-01', periods=12, freq='3M')

In [ ]:
# 11. Write a Pandas program to create a sequence of durations increasing by an hour.
durations = pd.timedelta_range(start='0 days', periods=10, freq='H')
print("Sequence of durations increasing by an hour:")
print(durations)

Sequence of durations increasing by an hour:
TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00', '0 days 05:00:00',
                '0 days 06:00:00', '0 days 07:00:00', '0 days 08:00:00',
                '0 days 09:00:00'],
               dtype='timedelta64[ns]', freq='h')

<ipython-input-23-4ff575a88568>:2: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  durations = pd.timedelta_range(start='0 days', periods=10, freq='H')

In [ ]:
# 12. Write a Pandas program to convert year and day of year into a single datetime column of a dataframe.
data = {'year': [2023, 2023, 2023],
        'day_of_year': [1, 10, 20]}
df = pd.DataFrame(data)
df['datetime'] = pd.to_datetime(df['year'] * 1000 + df['day_of_year'], format='%Y%j')
print("\nDataframe with year and day of year converted to a single datetime column:")
print(df)

Dataframe with year and day of year converted to a single datetime column:
   year  day_of_year   datetime
0  2023            1 2023-01-01
1  2023           10 2023-01-10
2  2023           20 2023-01-20

In [ ]:
# 13. Write a Pandas program to create a series of Timestamps from a DataFrame of integer or string columns. Also create a series of Timestamps using specified columns.
data = {'year': [2023, 2023, 2023],
        'month': [1, 2, 3],
        'day': [1, 2, 3]}
df = pd.DataFrame(data)
timestamps = pd.to_datetime(df[['year', 'month', 'day']])
print("\nSeries of Timestamps from DataFrame:")
print(timestamps)

Series of Timestamps from DataFrame:
0   2023-01-01
1   2023-02-02
2   2023-03-03
dtype: datetime64[ns]

In [ ]:
# 14. Write a Pandas program to check if a day is a business day (weekday) or not.
date = pd.to_datetime('2023-10-27')
is_business_day = pd.offsets.BDay().is_on_offset(date)
print("\nIs the day a business day (weekday)?", is_business_day)

Is the day a business day (weekday)? True

In [ ]:
# 15. Write a Pandas program to get a time series with the last working days of each month of a specific year.
year = 2023
dates = pd.date_range(start=str(year), end=str(year + 1), freq='BM')
time_series = pd.Series(np.random.rand(len(dates)), index=dates)
print("\nTime series with the last working days of each month of 2023:")
print(time_series)

Time series with the last working days of each month of 2023:
2023-01-31    0.368079
2023-02-28    0.708966
2023-03-31    0.850706
2023-04-28    0.918637
2023-05-31    0.276825
2023-06-30    0.199426
2023-07-31    0.598470
2023-08-31    0.498601
2023-09-29    0.025156
2023-10-31    0.650573
2023-11-30    0.822485
2023-12-29    0.383400
Freq: BME, dtype: float64

<ipython-input-27-1689f23fa40f>:3: FutureWarning: 'BM' is deprecated and will be removed in a future version, please use 'BME' instead.
  dates = pd.date_range(start=str(year), end=str(year + 1), freq='BM')

In [ ]:
# 16. Write a Pandas program to create a time series combining hour and minute.
rng = pd.date_range('2023-10-27 09:30', periods=10, freq='H')
ts = pd.Series(range(len(rng)), index=rng)
print(ts)

2023-10-27 09:30:00    0
2023-10-27 10:30:00    1
2023-10-27 11:30:00    2
2023-10-27 12:30:00    3
2023-10-27 13:30:00    4
2023-10-27 14:30:00    5
2023-10-27 15:30:00    6
2023-10-27 16:30:00    7
2023-10-27 17:30:00    8
2023-10-27 18:30:00    9
Freq: h, dtype: int64

<ipython-input-28-398309f8cfeb>:2: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  rng = pd.date_range('2023-10-27 09:30', periods=10, freq='H')

In [ ]:
# 17. Write a Pandas program to convert unix/epoch time to a regular time stamp
# in UTC. Also convert the said timestamp in to a given time zone.
epoch_time = 1698425600  # Example epoch time
utc_timestamp = pd.to_datetime(epoch_time, unit='s', utc=True)
print("UTC timestamp:", utc_timestamp)

timezone = 'US/Pacific'
timezone_timestamp = utc_timestamp.tz_convert(timezone)
print(f"Timestamp in {timezone}:", timezone_timestamp)

UTC timestamp: 2023-10-27 16:53:20+00:00
Timestamp in US/Pacific: 2023-10-27 09:53:20-07:00

In [ ]:
# 18. Write a Pandas program to create a time series object with a time zone.
time_series = pd.Series(
    range(10),
    index=pd.date_range(
        '2023-10-27', periods=10, freq='D', tz='US/Eastern'))
print("Time series object with a time zone:")
print(time_series)

Time series object with a time zone:
2023-10-27 00:00:00-04:00    0
2023-10-28 00:00:00-04:00    1
2023-10-29 00:00:00-04:00    2
2023-10-30 00:00:00-04:00    3
2023-10-31 00:00:00-04:00    4
2023-11-01 00:00:00-04:00    5
2023-11-02 00:00:00-04:00    6
2023-11-03 00:00:00-04:00    7
2023-11-04 00:00:00-04:00    8
2023-11-05 00:00:00-04:00    9
Freq: D, dtype: int64

In [ ]:
# 19. Write a Pandas program to remove the time zone information from a Time
# series data.
time_series_with_tz = pd.Series(
    range(10),
    index=pd.date_range('2023-10-27', periods=10, freq='D', tz='US/Eastern'))
time_series_without_tz = time_series_with_tz.tz_localize(None)
print("Time series without time zone information:")
print(time_series_without_tz)

Time series without time zone information:
2023-10-27    0
2023-10-28    1
2023-10-29    2
2023-10-30    3
2023-10-31    4
2023-11-01    5
2023-11-02    6
2023-11-03    7
2023-11-04    8
2023-11-05    9
dtype: int64

In [ ]:
# 20. Write a Pandas program to subtract two timestamps of same time zone or
# different time zone.
timestamp1 = pd.Timestamp('2023-10-27 10:00:00', tz='US/Eastern')
timestamp2 = pd.Timestamp('2023-10-26 12:00:00', tz='US/Pacific')
time_difference = timestamp1 - timestamp2
print("Time difference between two timestamps:", time_difference)

Time difference between two timestamps: 0 days 19:00:00

In [ ]:
# 21. Write a Pandas program to calculate all Thursdays between two given days.
start_date = '2023-10-26'
end_date = '2023-11-30'
date_range = pd.date_range(start=start_date, end=end_date, freq='D')
thursdays = [date for date in date_range if date.weekday() == 3]
print("All Thursdays between", start_date, "and", end_date, "are:")
print(thursdays)

All Thursdays between 2023-10-26 and 2023-11-30 are:
[Timestamp('2023-10-26 00:00:00'), Timestamp('2023-11-02 00:00:00'), Timestamp('2023-11-09 00:00:00'), Timestamp('2023-11-16 00:00:00'), Timestamp('2023-11-23 00:00:00'), Timestamp('2023-11-30 00:00:00')]

In [ ]:
# 22. Write a Pandas program to find the all the business quarterly begin and end
# dates of a specified year.
year = 2023
quarter_begins = pd.date_range(start=str(year), periods=4, freq='BQ')
quarter_ends = pd.date_range(start=str(year), periods=4, freq='BQ-JUN')
print("Business quarterly begin dates:", quarter_begins)
print("Business quarterly end dates:", quarter_ends)

Business quarterly begin dates: DatetimeIndex(['2023-03-31', '2023-06-30', '2023-09-29', '2023-12-29'], dtype='datetime64[ns]', freq='BQE-DEC')
Business quarterly end dates: DatetimeIndex(['2023-03-31', '2023-06-30', '2023-09-29', '2023-12-29'], dtype='datetime64[ns]', freq='BQE-JUN')

<ipython-input-34-35287510dcec>:4: FutureWarning: 'BQ' is deprecated and will be removed in a future version, please use 'BQE' instead.
  quarter_begins = pd.date_range(start=str(year), periods=4, freq='BQ')
<ipython-input-34-35287510dcec>:5: FutureWarning: 'BQ-JUN' is deprecated and will be removed in a future version, please use 'BQE-JUN' instead.
  quarter_ends = pd.date_range(start=str(year), periods=4, freq='BQ-JUN')

In [ ]:
# 23. Write a Pandas program to generate sequences of fixed-frequency dates and
# time spans intervals.
date_range = pd.date_range('2023-10-26', periods=10, freq='H')
print("Sequence of fixed-frequency dates and time spans intervals:")
print(date_range)

Sequence of fixed-frequency dates and time spans intervals:
DatetimeIndex(['2023-10-26 00:00:00', '2023-10-26 01:00:00',
               '2023-10-26 02:00:00', '2023-10-26 03:00:00',
               '2023-10-26 04:00:00', '2023-10-26 05:00:00',
               '2023-10-26 06:00:00', '2023-10-26 07:00:00',
               '2023-10-26 08:00:00', '2023-10-26 09:00:00'],
              dtype='datetime64[ns]', freq='h')

<ipython-input-35-dee9e5270efb>:3: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  date_range = pd.date_range('2023-10-26', periods=10, freq='H')

In [ ]:
# 24. Write a Pandas program to generate time series combining day and intraday
# offsets intervals.
date_range = pd.date_range('2023-10-26', periods=10, freq='1D1H')
print("Time series combining day and intraday offsets intervals:")
print(date_range)

Time series combining day and intraday offsets intervals:
DatetimeIndex(['2023-10-26 00:00:00', '2023-10-27 01:00:00',
               '2023-10-28 02:00:00', '2023-10-29 03:00:00',
               '2023-10-30 04:00:00', '2023-10-31 05:00:00',
               '2023-11-01 06:00:00', '2023-11-02 07:00:00',
               '2023-11-03 08:00:00', '2023-11-04 09:00:00'],
              dtype='datetime64[ns]', freq='25h')

<ipython-input-36-dd1adf261c20>:3: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  date_range = pd.date_range('2023-10-26', periods=10, freq='1D1H')

In [ ]:
# 25. Write a Pandas program to extract the day name from a specified date. Add 2
# days and 1 business day with the specified date.
date = pd.to_datetime('2023-10-27')
day_name = date.day_name()
print("Day name:", day_name)
date_plus_2_days = date + pd.Timedelta(days=2)
print("Date plus 2 days:", date_plus_2_days)
date_plus_1_business_day = date + pd.offsets.BDay(1)
print("Date plus 1 business day:", date_plus_1_business_day)

Day name: Friday
Date plus 2 days: 2023-10-29 00:00:00
Date plus 1 business day: 2023-10-30 00:00:00

In [ ]:
# 26. Write a Pandas program to convert integer or float epoch times to Timestamp
# and DatetimeIndex.
epoch_times = [1698425600, 1698425601, 1698425602]  # Example epoch times
timestamps = pd.to_datetime(epoch_times, unit='s')
print("Timestamps from epoch times:")
print(timestamps)

datetime_index = pd.DatetimeIndex(pd.to_datetime(epoch_times, unit='s'))
print("\nDatetimeIndex from epoch times:")
print(datetime_index)

Timestamps from epoch times:
DatetimeIndex(['2023-10-27 16:53:20', '2023-10-27 16:53:21',
               '2023-10-27 16:53:22'],
              dtype='datetime64[ns]', freq=None)

DatetimeIndex from epoch times:
DatetimeIndex(['2023-10-27 16:53:20', '2023-10-27 16:53:21',
               '2023-10-27 16:53:22'],
              dtype='datetime64[ns]', freq=None)

In [ ]:
# 27. Write a Pandas program to calculate one, two, three business day(s) from a
# specified date. Also find the next business month end from a specific date.
date = pd.to_datetime('2023-10-27')
one_business_day = date + pd.offsets.BDay(1)
two_business_days = date + pd.offsets.BDay(2)
three_business_days = date + pd.offsets.BDay(3)

print("One business day from the specified date:", one_business_day)
print("Two business days from the specified date:", two_business_days)
print("Three business days from the specified date:", three_business_days)

next_business_month_end = date + pd.offsets.BMonthEnd(1)
print("Next business month end from the specified date:",
      next_business_month_end)

One business day from the specified date: 2023-10-30 00:00:00
Two business days from the specified date: 2023-10-31 00:00:00
Three business days from the specified date: 2023-11-01 00:00:00
Next business month end from the specified date: 2023-10-31 00:00:00

In [ ]:
# 28. Write a Pandas program to create a period index represent all monthly
# boundaries of a given year. Also print start and end time for each period object
# in the said index.
year = 2023
period_index = pd.period_range(start=str(year), periods=12, freq='M')
print("Period index representing monthly boundaries of", year, ":")
print(period_index)

for period in period_index:
  print("Period:", period)
  print("Start time:", period.start_time)
  print("End time:", period.end_time)

Period index representing monthly boundaries of 2023 :
PeriodIndex(['2023-01', '2023-02', '2023-03', '2023-04', '2023-05', '2023-06',
             '2023-07', '2023-08', '2023-09', '2023-10', '2023-11', '2023-12'],
            dtype='period[M]')
Period: 2023-01
Start time: 2023-01-01 00:00:00
End time: 2023-01-31 23:59:59.999999999
Period: 2023-02
Start time: 2023-02-01 00:00:00
End time: 2023-02-28 23:59:59.999999999
Period: 2023-03
Start time: 2023-03-01 00:00:00
End time: 2023-03-31 23:59:59.999999999
Period: 2023-04
Start time: 2023-04-01 00:00:00
End time: 2023-04-30 23:59:59.999999999
Period: 2023-05
Start time: 2023-05-01 00:00:00
End time: 2023-05-31 23:59:59.999999999
Period: 2023-06
Start time: 2023-06-01 00:00:00
End time: 2023-06-30 23:59:59.999999999
Period: 2023-07
Start time: 2023-07-01 00:00:00
End time: 2023-07-31 23:59:59.999999999
Period: 2023-08
Start time: 2023-08-01 00:00:00
End time: 2023-08-31 23:59:59.999999999
Period: 2023-09
Start time: 2023-09-01 00:00:00
End time: 2023-09-30 23:59:59.999999999
Period: 2023-10
Start time: 2023-10-01 00:00:00
End time: 2023-10-31 23:59:59.999999999
Period: 2023-11
Start time: 2023-11-01 00:00:00
End time: 2023-11-30 23:59:59.999999999
Period: 2023-12
Start time: 2023-12-01 00:00:00
End time: 2023-12-31 23:59:59.999999999

In [ ]:
# 29. Write a Pandas program create a series with a PeriodIndex which represents
# all the calendar month periods in 2029 and 2031. Also print the values for all
# periods in 2030.
# Note: PeriodIndex is an immutable ndarray holding ordinal values indicating
# regular periods in time such as particular years, quarters, months, etc.

period_index = pd.period_range('2029-01', '2031-12', freq='M')

series = pd.Series(np.random.randn(len(period_index)), index=period_index)

print(series['2030'])

2030-01   -0.170823
2030-02   -0.438590
2030-03    0.568525
2030-04    0.055735
2030-05    0.587711
2030-06   -0.359799
2030-07   -0.905974
2030-08   -0.492765
2030-09   -1.279610
2030-10   -1.571186
2030-11   -1.563732
2030-12    0.628419
Freq: M, dtype: float64

In [ ]:
# 30. Write a Pandas program to generate holidays between two dates using the
# US federal holiday calendar.

from pandas.tseries.holiday import USFederalHolidayCalendar

start_date = '2023-01-01'
end_date = '2023-12-31'

cal = USFederalHolidayCalendar()
holidays = cal.holidays(start=start_date, end=end_date)

print(holidays)

DatetimeIndex(['2023-01-02', '2023-01-16', '2023-02-20', '2023-05-29',
               '2023-06-19', '2023-07-04', '2023-09-04', '2023-10-09',
               '2023-11-10', '2023-11-23', '2023-12-25'],
              dtype='datetime64[ns]', freq=None)

In [ ]:
# 31. Write a Pandas program to create a monthly time period and display the list
# of names in the current local scope.

period = pd.Period('2023-10', freq='M')
print(dir())

['In', 'Out', 'USFederalHolidayCalendar', '_', '_2', '_3', '_4', '_5', '_6', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i22', '_i23', '_i24', '_i25', '_i26', '_i27', '_i28', '_i29', '_i3', '_i30', '_i31', '_i32', '_i33', '_i34', '_i35', '_i36', '_i37', '_i38', '_i39', '_i4', '_i40', '_i41', '_i42', '_i43', '_i5', '_i6', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', 'cal', 'current_date', 'data', 'date', 'date_from_components', 'date_from_string', 'date_plus_1_business_day', 'date_plus_2_days', 'date_range', 'dates', 'dates_between', 'datetime_index', 'day_after', 'day_before', 'day_name', 'days_between', 'df', 'durations', 'end_date', 'epoch_time', 'epoch_times', 'exit', 'get_ipython', 'holidays', 'index_type', 'is_business_day', 'max_index', 'max_timestamp', 'min_index', 'min_timestamp', 'next_business_month_end', 'np', 'one_business_day', 'pd', 'period', 'period_index', 'periods', 'plt', 'quarter_begins', 'quarter_ends', 'quit', 'random_values', 'rng', 'same_year_dates', 'series', 'sns', 'start_date', 'three_business_days', 'thursdays', 'time_difference', 'time_series', 'time_series_with_tz', 'time_series_without_tz', 'timestamp1', 'timestamp2', 'timestamps', 'timezone', 'timezone_timestamp', 'tomorrow_date', 'ts', 'two_business_days', 'utc_timestamp', 'year', 'yesterday_date']

In [ ]:
# 32. Write a Pandas program to create a yearly time period from a specified year
# and display the properties of this period.

year = 2023
yearly_period = pd.Period(year, freq='A')

print("Yearly time period:", yearly_period)
print("Start time:", yearly_period.start_time)
print("End time:", yearly_period.end_time)
print("Year:", yearly_period.year)

Yearly time period: 2023
Start time: 2023-01-01 00:00:00
End time: 2023-12-31 23:59:59.999999999
Year: 2023

<ipython-input-44-f08a1d0e5a98>:5: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'Y' instead.
  yearly_period = pd.Period(year, freq='A')