In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#creating a series from a python list
myindex = ['USA','Canada','England']
mydata = [1776,1867,1821]

In [ ]:
#Just the numeric index
myser = pd.Series(data=mydata)
print(myser)

0    1776
1    1867
2    1821
dtype: int64

In [ ]:
#Now the named index
myser = pd.Series(data = mydata,index = myindex)
print(myser)

USA        1776
Canada     1867
England    1821
dtype: int64

In [ ]:
ran_data = np.random.randint(0,100,4)
print(ran_data)

In [ ]:
#Creating a series from dictionary
ages = {'Sammy':5,'Frank':10,'Spike':7}
print(ages)
print(pd.Series(ages))

{'Sammy': 5, 'Frank': 10, 'Spike': 7}
Sammy     5
Frank    10
Spike     7
dtype: int64

In [ ]:
#Using named index
#Imaginary sales data for 1st and 2nd quarters fro a global company
q1 = {'Japan':80,'China':450,'India':200,'USA':250}
q2 = {'Brazil':100,'China':500,'India':210,'USA':260}

In [ ]:
#Convert into pandas series
sales_Q1 = pd.Series(q1)
sales_Q2 = pd.Series(q2)
print(sales_Q1)
print(sales_Q2)

Japan     80
China    450
India    200
USA      250
dtype: int64
Brazil    100
China     500
India     210
USA       260
dtype: int64

In [ ]:
#call vaklues based on Named Index
print(sales_Q1['Japan'])
#integer Based Location also retained!
print(sales_Q1[0])

80
80

<ipython-input-8-23560fa6a199>:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sales_Q1[0])

In [ ]:
#Be careful of potential errors!
#Wrong name
#print(sales_Q1['France])

In [ ]:
#Accidental extra space
#print(sales_Q1['USA '])

#Text case Mistake
#print(sales_Q1['usa'])

In [ ]:
#series operations

#grab just the index keys
print(sales_Q1.keys())

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [ ]:
#can perform Operations Broadcasted across entire Series
print(sales_Q1 * 2)
print(sales_Q1 / 100)

Japan    160
China    900
India    400
USA      500
dtype: int64
Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [ ]:
#Notice how pandas informs you of mismatch with NaN
print(sales_Q1 + sales_Q2)

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [ ]:
#you can fill NaN with any matching data type value you want
print(sales_Q1.add(sales_Q2,fill_value=0))

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64