<a href="https://colab.research.google.com/github/yashrajmodani/Data-Analaysis/blob/main/Day8_Hypothesis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from scipy import stats

In [ ]:
data = pd.read_csv('/content/Mall_Customers.csv')
age_data = data['Age']

In [ ]:
data

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [ ]:
#Hypothesized population av. age
pop_avg_age = 40

In [ ]:
# Perform one sample t test
t_statistic, p_value = stats.ttest_1samp(age_data, pop_avg_age)
degrees_of_freedom = len(age_data) - 1

In [ ]:
# print the result
print(f"T-statistic: {t_statistic}")
print(f"P-value: {p_value}")
print(f"Degrees of Freedom: {degrees_of_freedom}")

T-statistic: -1.1642528048895828
P-value: 0.24571546680949305
Degrees of Freedom: 199

In [ ]:
#Interpretation
alpha = 0.025
if p_value < alpha:
    print("Reject the null hypothesis.Mean age 40 is rejected")
else:
    print("Fail to reject the null hypothesis.at mean age 40.")

Fail to reject the null hypothesis.at mean age 40.

In [ ]:
critical_value = stats.t.ppf(1 - alpha, degrees_of_freedom)
print(f"Critical Value: {critical_value}")

Critical Value: 1.971956544249395

In [ ]:
#two-tailed t-test(bcoz we are just checking that sample mean = population mean)
#So we need to take absolute value of t-statistics

if(abs(t_statistic) < critical_value):
    print("The null hypothesis cannot be rejected")
else:
    print("the null hypothesis.at mean age 40 is rejected")

The null hypothesis cannot be rejected

# ***Independent t test***

In [ ]:
#Separate data by genre
male_spending = data[data['Genre'] == 'Male']['Spending Score (1-100)']
female_spending = data[data['Genre'] == 'Female']['Spending Score (1-100)']

In [ ]:
#Perform two sample t test
t_statistic, p_value = stats.ttest_ind(male_spending, female_spending)
n_male = len(male_spending)
n_female = len(female_spending)
degrees_of_freedom = n_male + n_female - 2

In [ ]:
alpha = 0.025

#find the critical value
critical_value = stats.t.ppf(1 - alpha , degrees_of_freedom)

In [ ]:
#Print the result
print(f"T-statistic: {t_statistic}")
print(f"P-value: {p_value}")
print(f"Degrees of Freedom: {degrees_of_freedom}")
print(f"Critical Value: {critical_value}")

T-statistic: -0.8190464150660334
P-value: 0.4137446589852174
Degrees of Freedom: 198
Critical Value: 1.9720174778338955

In [ ]:
#two-tailed t-test(bcoz we are just checking that sample mean = population mean)
#So we need to take absolute value of t-statistics

if(abs(t_statistic) < critical_value):
    print("The null hypothesis cannot be rejected")
else:
    print("the null hypothesis is rejected")

The null hypothesis cannot be rejected

# ***Paired t test***

In [ ]:
df = pd.read_csv('')